.ContestDetails {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-color: #eeeeee;
    padding: 25px;
    margin: 5px;
  }

  #body{
    min-height: 400px;
  }

  #contest{
    margin-top: 30px;
  }

  #contest-image{
    height: 300px;
    width: 200px;
  }
  