.timer{
    font-family: 'Fira Code', monospace;
    font-size: 5rem;
}

.text{
    font-family: 'Fira Code', monospace;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
}

.correct {
    font-weight: bold;
    color: #cfcfcf;
    /* background-color: black; */
}

.incorrect {
    font-weight: bold;
    color: red;
    /* background-color: black; */
}

.active {
    font-weight: bold;
}

body {
    padding: 10px;
}

input {
    width: 100%;
}


.statistic{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}